@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.showcase-wrapper {
    display: flex;
    max-width: 1440px;
}

.form-wrapper {
    flex: 1;
   
}

.form-wrapper,
.form-title,
.form-title > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title > img {
    width: 10%;
    margin-bottom: 20px;
}

.form-title > div p:first-child {
    font-weight: bold;
    margin-bottom: 7px;
}

form > div {
    margin-bottom: 15px;
}

input {
    outline: none;
    border: none;
    border: 1px solid rgb(240, 240, 240);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: box-shadow ease-in .2s;
}

#email:focus,
#password:focus {
    box-shadow: 1px 2px 5px 2px rgba(8, 32, 243, 0.15);
}

input::placeholder {
    color: rgb(218, 218, 218);
}

input[type="button"] {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

input[type="button"]:focus {
    transform: scale(.98);
}

.line-break  {
    margin-top: 40px ;
    height: 2px;
    background-color: rgb(158, 157, 157);
    width: 55%;
}

.line-breaker {
    margin-top: -13px;
    color: rgb(158, 157, 157);
    background-color: #fff;
    z-index: 10;
    padding: 0 10px;
}

.socials {
    margin-top: 40px;
}

.socials > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 40px;
    text-decoration: none;
    color: #000;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.15);
}

.socials > a:active {
    border: 2px solid #000;
}

.socials > a img {
    width: 10%;
    margin-right: 10px;
}

.sign-up {
    color: #000;
    font-weight: bold;
}

.form-wrapper > a {
    font-weight: bold;
    color: #000;
}

.showcase-image {
    flex: 1;
    height: 100vh;
}

.showcase-image img {
    height: 100%;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .form-wrapper {
        padding-top: 50px;
    }

    .showcase-image {
        display: none;
    }
}

@media (max-width: 500px) {
    .line-break {
        width: 92%;
    }
}